@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Ubuntu&display=swap');

/* font-family: 'Inter', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */

*,
*::before,
*::after {
    box-sizing: border-box;
    /* transition: all .6s ease-out; */
}

body {
    margin: 0;
    color: #DDD3D3;
    overflow: hidden auto;
    background-color: #0f0f0f;
}

footer > ul,
footer > li {
    padding: 0;
    margin: 0;
}

a:link {
    color: #999;
    transition: all .3s ease-in-out;
    text-decoration: none;
}

a:hover {
    color: #f08080;
}

nav > a:hover, nav > a:visited:hover {
    color: rgba(240, 128, 128, 0.02);
    text-shadow: 0 1.8rem cyan;
}

footer > ul > li > a:hover, footer > ul > li > a:visited:hover {
    color: #f0808080;
    text-shadow: 0.6rem 1rem cyan;
}

a:visited {
    color: #6e6e6e;
}


/* background image optimization */
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#defaultCanvas0 {
    z-index: -1;
    pointer-events: none;
}

/* document layout */
#main {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* adjustments for header; nav */
header {
    /* outline: 1px solid lightgreen; */
    backdrop-filter: blur(2px);
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 100%;
    min-height: 3.5em;
    position: fixed;
    top: 0;
}

.title {
    font-size: 2em;
    font-weight: bold;
}

nav {
    min-width: 40%;
    display: flex;
    justify-content: space-evenly;
}

/* hero context */
div.context {
    margin: auto;
    width: min(850px, calc(70% + 100px));
}

.hero-text {
    font-family: 'Inter', sans-serif;
    padding: 2rem 0 0;
    font-size: 1.6em;
    line-height: 1.3em;
}

/* footer adjustments */
footer {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    padding: 0 2rem;
    min-width: 100%;
}

/* footer link customization */
.list-footer {
    list-style: none;
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem 0;
}

@media screen and (max-width: 500px) {
    .list-footer {
        grid-template-columns: repeat(2, 1fr);
        font-size: small;
    }
    nav {
        min-width: 80%;
    }

    header {
        justify-content: space-between;
    }

    .hero-text {
        font-size: 1rem;
    }


    .title {
        font-size: 1.3em;
    }

    .cjs {
        display: none;
    }
}