@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Inter&family=Poppins&family=Ubuntu&display=swap');

/* font-family: 'Inter', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */

*,
*::before,
*::after {
    box-sizing: border-box;
    transition: all .6s ease-out;
}

.uSel {
    user-select: none;
}

body {
    /* margin: 0; */
    color: #ddd;
    overflow: hidden auto;
    background-color: #131313;
}
main p {
    font-family: 'Ubuntu', sans-serif, serif;
}

a {
    color: #7fffff;
}

a:visited {
    color: #ddd;
}

/* background image */
#defaultCanvas0 {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
}

#title {
    font-family: 'Poppins', sans-serif;
    font-size: 4em;
    margin-top: .1em;
}

.info, .info details {
    margin-top: 1.5em;
}

details p {
    font-family: 'Open Sans', sans-serif;
    padding-left: 1em;
}

footer h4 {
    margin-top: 5.6em;
    font-size: 1rem;
    text-align: right;
}

summary::marker {
    content: "";
}

summary {
    font-size: 2em;
    display: inline-block;
}

summary:hover {
    cursor: pointer;
}

h1, h4, summary {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
}

@media screen and (min-width: 400px) {
    main p {
        width: 700px;
        font-size: 17px;
    }

    details p {
        font-size: 24px;
    }
}