@font-face {
    font-family: edu;
    src: url(fonts/EduVICWANTBeginner-Regular.ttf);
}

@font-face {
    font-family: overlock;
    src: url(fonts/Overlock-Regular.ttf);
}

@font-face {
    font-family: mark;
    src: url(fonts/markaregular.ttf);
}

@font-face {
    font-family: ace;
    src: url(fonts/anime-ace.regular.ttf);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0.7rem;
}

::-webkit-scrollbar-track {
    background: #35383d;
}

::-webkit-scrollbar-thumb {
    background: #414449;
}

::-webkit-scrollbar-thumb:hover {
    background: #7289d7;
}

html, body {
    height: 100%;
}

html {
    cursor: url(img/cursor.cur), auto;
}

body {
    font-family: overlock, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    background: linear-gradient(to top, #7289d7, #414449, #35383d, #272a2f, #1c2023);
    background-attachment: fixed;
}

.in-nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.in-nav span:has(a) {
    text-align: right;
}

.name {
    margin-top: 10px;
    font-family: mark;
    font-size: 2rem;
    display: inline-block;
    cursor: pointer;
}


main {
    font-family: edu, Arial, Helvetica, sans-serif;
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(3, auto);
}

.other {
    grid-template-columns: auto;
}

main {
    width: min(1000px, calc(70% + 100px));
    margin: auto;
}

span .btn {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
}

.info>p {
    font-family: overlock, Arial, Helvetica, sans-serif;
}

.btn {
    text-decoration: none;
    padding: .5rem 1.5rem;
    border-radius: 8px;
    border: 2px solid #0ff;
}

.btn-nav-link {
    transition: all .4s ease-out;
}

.btn-nav-link:hover {
    background-color: #0ff;
    color: #000;
}

.card {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0 1rem;
}

.card img {
    border-radius: 6px;
}

.footerInfo {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
}

@media screen and (min-width: 300px) and (max-width: 689.8px) {
    main {
        grid-template-columns: auto;
    }

    .footerInfo {
        grid-template-columns: repeat(2, auto);
    }
}

@media screen and (min-width: 689.9px) and (max-width: 700px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }

    .footerInfo {
        grid-template-columns: repeat(2, auto);
    }
}

@media screen and (min-width: 700.1px) and (max-width: 1200px) {
    main {
        grid-template-columns: repeat(2, auto);
    }
}